<%- include("header") -%>

    <div class="box">      
                <div class="item">
                    <a href="/" class="todoList"><p >Today (Default List)</p></a>
                </div>
            <% newListItems.forEach(item => { %>
                <form action="/delete_lists" method="POST">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%= item._id%>" onchange="this.form.submit()">
                            <a href="/<%= item.name %>" class="todoList"><p><%= item.name %></p></a>
                    </div>
                </form>
            <% }) %>
    </div>

<%- include("footer") -%>